.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    font-size: 16px;
}

body {
    text-align: center;
    overflow: auto;
}

@keyframes slide {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
header {
    background-color: #00ff00;
    margin-top: 0px;
    animation-name: slide;
    animation-duration: 5s;
    font-size: 24px;
    color: black;
    padding-top: 5px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    margin-top: 100px;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
    font-size: 16px;
  }

a:link{
    text-decoration:none;
    color:#008b45;
}
    
a:visited {
    color: yellow;
}   

a:hover{
    color:#00ff00;
}

p, ul{
    color: yellow;
    font-size: 130%;
}

h5 {
    color: yellow;
    font-size: 120%;
}
span{
    background-color: blue;
    opacity: 0.8;
}

.color, h2, h1, h3, h4 {
    color: yellow;
}


  