/* this sets the navigation bar on flex*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    color: yellow;;
}
/* adding css keyframes animation*/
@keyframes headerColor {
    from {color: red;}
    to {color: blue;}
    0% {background-color: aquamarine;}
    20% {background-color: blue;}
    40% {background-color: yellowgreen;}
    60% {background-color: violet;}
    80% {background-color: royalblue;}
    100% {background-color: burlywood;}
}
header {
    background-color: aquamarine;
    text-align: center;
    animation-name: headerColor;
    animation-duration:5s;
}

body {
    text-align: center;
    overflow: auto;
}

#mycanvas {
    width: 13%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    margin-top: 100px;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
    font-size: 16px;
  }
  #readmore {
      position: fixed;
      top: 95%;
      left: 48%;
      text-align: center;
  }

  
