/* this sets the navigation bar on flex*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
}
/* adding css keyframes animation*/
@keyframes headerColor {
    from {color: red;}
    to {color: blue;}
}
header {
    background-color: aquamarine;
    text-align: center;
    animation-name: headerColor;
    animation-duration:5s;
}

